@model SEDC.PizzaApp.Models.Domain.Orders

<h2>For Details: </h2>
<p>Id: @Model.Id</p>
<p>Name of Company: @Model.NameOfCompany</p>
<p>Name of Product: @Model.NameOfProduct</p>
<p>Is it on Action: @Model.OnAction</p>
<p>Price: @Model.Price</p>